<form action="/answer" data-turbo="false">
  <label for="question">Ask a question to your coach:</label>
  <div class="form-question">
    <input type="text" name="question" placeholder="Type your question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
